<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{app.app_nombre}}</title>
    <link rel="manifest" href="{{dir_base}}/{{app.coleccion}}/pwa/manifest.json">
	<link rel="icon" href="{{dir_base}}/{{app.coleccion}}/pwa/favicon.ico?v={{app.ahora}}" type="image/x-icon">
	<link rel="shortcut icon" href="{{dir_base}}/{{app.coleccion}}/pwa/favicon.ico?v={{app.ahora}}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{dir_base}}/{{app.coleccion}}/pwa/custom.css?v={{app.ahora}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{dir_base}}/static/js/serializejson.js"></script>
    <script src="{{dir_base}}/static/js/controlador.js?v={{app.ahora}}"></script>
    <script src="{{dir_base}}/static/js/prompts.js?v={{app.ahora}}"></script>
</head>
<body class="body my-2" style="background-color: #f8f9fa;">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if app.coleccion == 'admin' %}
                    <ul class="navbar-nav" style="font-size: 0.9rem;">
                        <li class="nav-item">
                            <a class="nav-link nav-link-admin" href="javascript:void(0)" onclick="control.abrirMenu('admin')" title="Aplicaciones"><i class="bi bi-star"></i> Apps</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-admin" href="javascript:void(0)" onclick="control.abrirMenu('usuarios')" title="Usuarios"><i class="bi bi-person-circle"></i> Usuarios</a>
                        </li>
                    </ul>
                {% else %}
                    {% if usuario.roles == 'Admin' %}
                    <ul class="navbar-nav" style="font-size: 0.9rem;">
                        {% for menu in menus %}
                        {% if menu.roles == 'Admin' and menu.mostrar == 'SI' %}
                        <li class="nav-item">
                            <a class="nav-link nav-link-admin" href="javascript:void(0)" onclick="control.abrirMenu('{{menu._uid}}')" title="{{menu.titulo}}"><i class="bi {{menu.icono}}"></i> {{menu.menu}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if usuario.roles == 'Usuario' or usuario.roles == 'Editor' %}
                    <ul class="navbar-nav" style="font-size: 0.9rem">
                        {% for menu in menus %}
                        {% if menu.roles == 'Editor' and usuario.roles == 'Editor' and menu.mostrar == 'SI' %}
                        <li class="nav-item">
                            <a class="nav-link nav-link-usuario" href="javascript:void(0)" onclick="control.abrirMenu('{{menu._uid}}')" title="{{menu.titulo}}"><i class="bi {{menu.icono}}"></i> {{menu.menu}}</a>
                        </li>
                        {% endif %}
                        {% if menu.roles == 'Usuario' and menu.mostrar == 'SI' %}
                        <li class="nav-item">
                            <a class="nav-link nav-link-usuario" href="javascript:void(0)" onclick="control.abrirMenu('{{menu._uid}}')" title="{{menu.titulo}}"><i class="bi {{menu.icono}}"></i> {{menu.menu}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                {% endif %}
            </div>
            <div class="input-group mt-1 mb-1 float-end w-auto">
                <button type="button" data-bs-toggle="dropdown" style="border: 0; margin: 0 2px 0 0; padding: 1px 0 0 0; background-color: white;">
                    <img src="{{dir_base}}/{{app.coleccion}}/pwa/icon-128x128.png?v={{app.ahora}}" alt="{{nombre_app}}" class="rounded" style="width: 32px;">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                        <span class="dropdown-header">
                        <strong>{{app.coleccion}}</strong><br><small>{{app.app_nombre}}</small>
                    </li>
                    <li><span class="dropdown-header">
                        {{usuario.alias}}<br><small>{{usuario.email}}</small></span>
                    </li>
                    {% if app.whisper == '1' %}
                    <li><hr class="dropdown-divider"></hr></li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0)" onclick="control.ingresarAudio()" title="Transcribir Audio"><i class="bi bi-volume-up-fill"></i> Transcribir Audio</a>
                    </li>
                    {% endif %}
                    <li><hr class="dropdown-divider"></hr></li>
                    <li>
                        <a class="dropdown-item" href="javascript:void(0)" onclick="control.cerrarSesion()" title="Cerrar sesión"><i class="bi bi-power"></i> Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="alert alert-success p-2 text-center border border-3 border-success text-dark" id="mensaje_exito" style="display: none; position: fixed; top: 20px; right: 10px; left: auto; z-index: 10001;">
        </div>
        <div class="alert alert-info p-2 text-center border border-3 border-primary text-dark" id="mensaje_aviso" style="display: none; position: fixed; top: 20px; right: 10px; left: auto; z-index: 10001;">
        </div>
        <div class="alert alert-danger p-2 text-center border border-3 border-danger" id="mensaje_error" style="display: none; position: fixed; top: 20px; right: 10px; left: auto; z-index: 10001;">
        </div>
        <div class="alert alert-warning mt-2 mb-2 p-2 text-center" id="mensaje_solucion_10" style="display: none;">
            Se requiere <strong>Generar el Indice</strong> de esta Carpeta de conocimiento para consultarla<br>
            <button type="button" title="Generar Indice" class="btn btn-danger mt-3 mb-5" onclick="control.generarIndice()"><i class="bi bi-server"></i>Generar Indice</button>
        </div>
        <div class="card mt-3 mb-3" id="mostrar_transcripcion" style="position: fixed; top: 20px; left: 20px; right: 20px; z-index: 10002; display: none;">
            <div class="card-body">
                <div  class="row">
                    <div class="col-12">
                        <div class="clearfix">
                            <div class="float-start">Transcripción de audio:</div>
                            <div class="float-end">
                                <i class="bi bi-check h5 text-success" id="transcripcion_copiada" style="display: none;"></i>
                                <a href="javascript:void(0)" onclick="control.copiarTexto('transcripcion')" class="text-dark"><i class="bi bi-clipboard h6" title="Copiar texto"></i></a>
                                <button type="button" class="btn-close ms-1" onclick="control.cerrarTranscripcion()"></button>
                            </div>
                        </div>
                        <div class="chat-respuesta w-100">
                            <div id="transcripcion">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="zona_contenido">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{{dir_base}}/{{app.coleccion}}/pwa/icon-128x128.png?v={{app.ahora}}" alt="{{nombre_app}}" class="logo rounded mb-3">
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <h4 class="mb-4">{{app.app_nombre}}</h4>
                    <p>¡Hola {{usuario.alias}}!</p>
                    <br>
                </div>
            </div>
            {% include 'apikey.html' %}
            <br>
        </div>
        <div id="zona_espera" style="display: none;">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="{{dir_base}}/{{app.coleccion}}/pwa/espere.gif" style="margin: 0 auto;">
                </div>
            </div>
        </div>
    </div>
    <div id="INT_VENTANA" class="modal inmodal fade" aria-labelledby="titulo_ventana" tabindex="-10000" aria-hidden="true" data-backdrop="static">
    </div>
    <div id="INT_MODAL" class="modal fade" aria-labelledby="titulo_ventana" tabindex="-10000" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    </div>
    <div id="confirmar_accion" style="display:none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titulo_ventana"><i class="bi bi-question-circle"></i> ¿Estás seguro/a?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="text-secondary"><i>Si confirmas, se borrará el recurso seleccionado. Esta acción no se puede deshacer.</i></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="control.borrarRecurso('((tipo_recurso))','((id_recurso))')"><i class="bi bi-trash"></i> Borrar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function () {
            control.ruta_base = '{{dir_base}}/{{app.coleccion}}';
            control.app = '{{app.app_id}}';
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                navigator.serviceWorker.register('{{dir_base}}/{{app.coleccion}}/pwa/service-worker.js').then(
                    (registration) => {
                        console.log('Service Worker registrado con éxito:', registration);
                    },
                    (error) => {
                        console.log('Error en el registro del Service Worker:', error);
                    });
                });
            }
        });
    </script>
</body>
</html>
