{% if usuario.roles == 'Editor' or usuario.roles == 'Usuario' %}

{% if lista_archivos.total > 0 %}
<div class="row mt-2 mb-2">
    <div class="col text-center text-secondary small">
        {{lista_archivos.total}} documentos:
    </div>
</div>
{% for archivo in lista_archivos.resultados %}
<div class="row mb-4 pt-2 pb-2 shadow" id="ar_{{archivo.id}}">
    <div class="col-2 text-end pe-1">
        <img src="{{dir_base}}/static/img/{{archivo.tipo}}.png" style="width: 32px">
    </div>
    <div class="col-8">
        {% if archivo.resumen is not none and archivo.resumen != '' %}
        <a href="javascript:void(0)" class="text-dark text-decoration-none" data-bs-toggle="collapse" data-bs-target="#ar_{{archivo.id}}_mas" title="Ver resumen">
            {{archivo.titulo}} &nbsp;
            <i class="bi bi-eye-fill text-dark h6"></i>
        </a>
        {% else %}
        {{archivo.titulo}}
        {% endif %}
        <br>
        <small>
        {% for estado in diccionario.estado_documento %}{% if estado.valor|string == archivo.estado|string %}
        <span class="badge bg-{{estado.color}}">{{estado.etiqueta}}</span>
        {% endif %}{% endfor %} 
        <span class="text-secondary">{{archivo.peso}} kb ({{archivo.carpeta}}) {% if archivo.zona == 'C' %}<a class="text-dark text-decoration-none" href="javascript:void(0)" onclick="control.consultarChatdoc('{{archivo.carpeta}}','{{archivo.id}}')" title="Consultar"><i class="bi bi-chat text-dark h6"></i></a>{% endif %}</span>
        </small>
    </div>
    <div class="col-2 text-end">
        <div class="input-group mt-1 mb-1">
            <button type="button" class="btn btn-light btn-sm border dropdown-toggle" data-bs-toggle="dropdown"><i class="bi bi-three-dots-vertical"></i></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="control.descargarArchivo('{{archivo.codigo}}')" title="Descargar"><i class="bi bi-download"></i> Descargar</a></li>
                {% if archivo.zona == 'C' %}
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="control.consultarChatdoc('{{archivo.carpeta}}','{{archivo.id}}')" title="Consultar"><i class="bi bi-chat"></i> Consultar</a></li>
                {% endif %}
                {% if usuario.roles == 'Editor' %}
                <li><hr class="dropdown-divider"></hr></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="control.editarDocumento('{{archivo.id}}')" title="Editar ficha"><i class="bi bi-pencil-square"></i> Editar ficha</a></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="control.indexarDocumento('{{archivo.carpeta}}','{{archivo.id}}')" title="Reindexar documento"><i class="bi bi-server"></i> Reindexar documento</a></li>
                {% if archivo.estado|int > 1 %}
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="control.verMetadatos('{{archivo.id}}')" title="Generar metadatos"><i class="bi bi-card-checklist"></i> Generar metadatos</a></li>
                {% endif %}
                <li><hr class="dropdown-divider"></hr></li>
                <li><a class="dropdown-item" href="javascript:void(0)" onclick="control.confirmarAccion('documento','{{archivo.id}}')" title="Borrar"><i class="bi bi-trash"></i> Borrar</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% if archivo.resumen is not none and archivo.resumen != '' %}
    <div id="ar_{{archivo.id}}_mas" class="collapse">
        <div class="col-12">
            <div class="card mt-1 mb-2">
                <div class="card-body">
                    <div class="text-end"><button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target="#ar_{{archivo.id}}_mas"></button></div>
                    <div><small><span class="text-secondary small"><i>{{archivo.resumen}}</i></span></small></div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endfor %}
{% if paginas|length > 1 %}
<div class="row mt-4">
    <div class="col-12">
        <ul class="pagination pagination-sm justify-content-center">
            {% if lista_archivos.nav|int > 1 %}
            <li class="page-item"><a class="page-link" href="javascript:control.consultarDocumentos({{ lista_archivos.nav|int - 1 }})"><i class="bi bi-arrow-left"></i></a></li>
            {% endif %}
            {% for num_pagina in paginas %}
            {% if num_pagina == lista_archivos.nav %}
            <li class="page-item active"><span class="page-link">{{num_pagina}}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="javascript:control.consultarDocumentos({{ num_pagina }})">{{num_pagina}}</a></li>
            {% endif %}
            {% endfor %}
            {% if lista_archivos.nav|int < paginas|length %}
            <li class="page-item"><a class="page-link" href="javascript:control.consultarDocumentos({{ lista_archivos.nav|int + 1 }})"><i class="bi bi-arrow-right"></i></a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endif %}

{% else %}
<div class="row mb-5 mt-5">
    <div class="col-12">
        <div class="alert alert-warning text-primary text-center">No hay Documentos</div>
    </div>
</div>
{% endif %}
{% endif %}
