{% if usuario.roles == 'Editor' or usuario.roles == 'Admin' %}
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form id="form_metadatos" method="post" onsubmit="return control.generarMetadatos('{{datos_archivo.id}}')">
            <div class="modal-header">
                <h5 class="modal-title" id="titulo_ventana"><i class="bi bi-card-checklist"></i> Generar Metadatos</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <div id="form_editar_metadatos">
                    <div class="alert alert-info mt-2 mb-2 p-2 text-center">Abajo se muestran los campos de metadatos del documento y su contenido actual. Debes seleccionar cuáles de estos campos quieres generar.<br>
                        Al generarlos se reemplazarán los valores actuales y se marcará el documento como <span class="badge bg-primary">catalogado</span>.</div>
                    <div class="card mt-2 mb-2">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="op_titulo" name="titulo" value="titulo">
                                <label for="op_titulo" class="form-check-label">Título del documento</label>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    <span class="text-secondary"><i>{{datos_archivo.titulo}}</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2 mb-2">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="op_resumen" name="resumen" value="resumen">
                                <label for="op_resumen" class="form-check-label">Resumen del contenido</label>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    {% if datos_archivo.resumen is not none and datos_archivo.resumen != '' %}
                                    <span class="text-secondary small"><i>{{datos_archivo.resumen}}</i></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2 mb-2">
                        <div class="card-body">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="op_sugerencias" name="sugerencias" value="sugerencias">
                                <label for="op_sugerencias" class="form-check-label">Consultas sugeridas</label>
                            </div>
                            <div class="row mb-2">
                                <div class="col-12">
                                    {% if datos_archivo.sugerencias is not none and datos_archivo.sugerencias != '' %}
                                    <span class="text-secondary small"><i>{{datos_archivo.sugerencias}}</i></span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="form_editar_espera" style="display: none;">
                    <div class="row">
                        <div class="col-12 text-center">
                            <img src="{{dir_base}}/{{app.coleccion}}/pwa/espere.gif" style="margin: 0 auto;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="form_editar_botones">
                <button type="button" class="btn btn-secondary" id="cerrar_ventana" data-bs-dismiss="modal">Cerrar</button>
                <button type="submit" class="btn btn-primary" id="generar_metadatos"><i class="bi bi-check-square"></i> Generar metadatos</button>
            </div>
        </form>
    </div>
</div>
{% endif %}